@page
@model WebApplication1.Pages.Verificar.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Verificar[0].ValorTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verificar[0].ValorEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verificar[0].Entrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verificar[0].ValorSaida)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verificar[0].Saidas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Verificar) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ValorTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Entrada.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorSaida)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Saidas.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
